<ion-header>
  <ion-toolbar>
    <ion-title>Yoga</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/img/asdasdasd.jfif" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <h2>Taller de Yoga</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Clase Pada Hasta danda, en donde se trabaja a partir de asanas (posturas) en las cuales se estimula la musculatura de brazos y piernas con un efecto de activación tanto en el cuerpo como en la mente. También se trabajará en la relajación (Yoga Nydra) y en la concentración (meditación).
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="/assets/img/1-2.jpg" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Antonio Pradenas es instructor de Hatha yoga titulado en la Academia Chilena de Yoga. Tiene especialización en Adulto Mayor, embarazadas y alineación corporal.
        </p>
        <p>
          Ha trabajado como instructor de yoga en lugares como la Asociación de adulto mayor de Banco Estado, en Universidad UBO y en Municipal de Santiago (Santiago joven), actualmente imparte clases de yoga online.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button color="success" >Registrar Taller</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
