<ion-header>
  <ion-toolbar>
    <ion-title>Cocina</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/img/los-mejores-talleres-cocina-barcelona-1533570635110.jpg" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <h2>Taller de Cocina</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Crear hábitos saludables y llevar una vida sana no solo depende de la actividad física, sino también de una buena alimentación; es por esta razón que, desde el mes de marzo, y por todo el año 2022, se ha implementado el Taller de Cocina Saludable, actividad que forma parte del Programa Vida Sana.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="/assets/img/OIP.jfif" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          El 23 de abril, se realizó la primera clase de Cocina Saludable, donde 15 usuarios del Programa Vida Sana, pudieron preparar recetas con ingredientes saludables y de bajo costo.
        </p>
        <p>
          Pan Integral, Cocadas, Galletas de avena y Alfajores de maicena, fueron algunas de las deliciosas recetas que se realizaron. Cada participante vivió la experiencia de preparar, exponer y degustar estas preparaciones.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button color="success" >Registrar Taller</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
