<ion-header>
  <ion-toolbar>
    <ion-title>Pintura</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/img/R.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <h2>Taller de Pintura</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          A través de las actividades de formación se intentará, por un lado, aplicar objetivos comunes al CNCA, en materias complementarias de apoyo al desarrollo y difusión de las artes y la cultura
        </p>
        <p>
          Entregaremos herramientas de apoyo indispensable para proyectos de talleres artísticos impartidos en diferentes establecimientos o centros culturales para garantizar,
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="/assets/img/R (1).jfif" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          El Objetivo General es: Realizar Actividades de Formación tratando de duplicar la cifra de año anterior 2021, para lograr esto, realizaremos al menos diez (10) talleres artísticos de convocatoria abierta a la comunidad 
       </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button color="success" >Registrar Taller</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
