<ion-header [translucent]="true">
  <ion-toolbar>
          <img style="max-width: 50%;" src="assets/img/logo_municipal.png" alt="">
          <ion-button routerLink='/registro' slot="end" size="small" color="warning">Crear Cuenta</ion-button>
          <ion-button routerLink='/login' slot="end" size="small">Ingresar</ion-button>

  </ion-toolbar>
</ion-header>
<ion-content>
  <img alt="Silhouette of mountains" src="assets/img/1.jpg"/>

    <h1 style="text-align: center;">Acerca de Nosotros</h1>

  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;"><ion-label>GENERANDO BUENAS EMOCIONES</ion-label></ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-top: 15%;">
        <img src="assets/img/3.jpg" alt="">
      </ion-col>
      <ion-col style="font-size: medium;">
        <ion-row>Gracias a nuestros talleres de pintura, conocerás un nuevo mundo junto a compañeros que compartirán una bella visión del arte. Que esperas! unete ya a nuestra acogedora actividad.</ion-row>
      </ion-col>
    </ion-row>
    <ion-row><ion-col style="text-align: center;"><h1>Nuestro Equipo</h1></ion-col></ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/team/1.jpg" alt="">
        <ion-label>Baldomero Lillo</ion-label>
      </ion-col>
      <ion-col>
        <img src="assets/img/team/2.jpg" alt="">
        <ion-label>Renato Martinez</ion-label>
      </ion-col>
      <ion-col>
        <img src="assets/img/team/3.jpg" alt="">
        <ion-label>Lady Fuentes</ion-label>
      </ion-col>
      <ion-col>
        <img src="assets/img/team/4.jpg" alt="">
        <ion-label>Max Power</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-card>
        <img src="assets/img/sobre/2.jpg" alt="">
        <h3>Qieres ser el deseado isntructor que nuestros talleres necesitan?</h3>
        <ion-button expand="block">Postúlate</ion-button>
      </ion-card>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <h1>Nuestros talleres</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/talleres/news-1.jpg" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/img/talleres/news-2.jpg" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/img/talleres/news-3.jpg" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/talleres/news-4.jpg" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/img/talleres/news-5.jpg" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;"><h1>Contáctanos</h1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col style=" text-align: center;">
        <ion-icon name="phone-portrait-outline"></ion-icon>
        <br>
        <ion-label style="font-size: smaller;">LLama al : 9 1245 1232
          Lunes-Viernes (9am-5pm)</ion-label>
      </ion-col>
      <ion-col style=" text-align: center;">
        <ion-icon name="mail-outline"></ion-icon>
        <br>
        <ion-label style="font-size: smaller;">Email: info@muniloca.cl</ion-label>
      </ion-col>
      <ion-col style=" text-align: center;">
        <ion-icon name="location-outline"></ion-icon>
        <br>
        <ion-label style="font-size: smaller;">Dirección: Av vicuña mackenna 12341</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-top: 15%;">
        <img src="assets/img/andras-arato.jpeg" alt="">
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-input placeholder="Tu Nombre"></ion-input>
        </ion-row>
        <ion-row>
          <ion-input placeholder="Tu Correo"></ion-input>
        </ion-row>
        <ion-row>
          <ion-input placeholder="Asunto"></ion-input>
        </ion-row>
        <ion-row>
          <ion-input placeholder="Mensaje"></ion-input>
        </ion-row>
        <ion-row>
          <ion-button expand="full">Enviar Mensaje</ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
