<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calificar Talleres
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center;">
            <ion-label style="font-size: x-large;">Taller de Cocina</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="assets/img/talleres/news-2.jpg" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: larger;">Cursaste este taller el 1/2/22 hasta el 4/4/22
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <input style="margin: 20px; border: transparent; width: 80%; height: 100%; background-color: rgba(0, 0, 0, 0.1);" type="text" placeholder="Agrega un comentario...">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: center;">
            <form>
              <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                --><label for="radio1">★</label><!--
                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                --><label for="radio2">★</label><!--
                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                --><label for="radio3">★</label><!--
                --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                --><label for="radio4">★</label><!--
                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                --><label for="radio5">★</label>
              </p>
            </form>          
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="success" expand="block">Enviar Calificación</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>


    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center;">
            <ion-label style="font-size: x-large;">Taller de Ceramica</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="assets/img/talleres/news-4.jpg" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: larger;">Cursaste este taller el 1/2/22 hasta el 4/4/22</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <input style="margin: 20px; border: transparent; width: 80%; height: 100%; background-color: rgba(0, 0, 0, 0.1);" type="text" placeholder="Agrega un comentario...">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: center;">
            <form>
              <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                --><label for="radio1">★</label><!--
                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                --><label for="radio2">★</label><!--
                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                --><label for="radio3">★</label><!--
                --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                --><label for="radio4">★</label><!--
                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                --><label for="radio5">★</label>
              </p>
            </form>          
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="success" expand="block">Enviar Calificación</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
