<ion-header>
  <ion-toolbar>
    <ion-title>Ceramica</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/img/52b0e2ae9cfeb1311d5415d917254118.jpg" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <h2>Taller de Ceramica</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Este Taller está dirigido a todos quienes quieran conocer y descubrir el mundo de la cerámica.         <br>
        </p>
        <p>
          ¡No es necesario tener experiencia previa! La versatilidad del material nos permitirá elaborar variados objetos utilitarios o decorativos en cuanto a forma, tamaño, textura, etc. 
        </p>
        <p>
          Se entregarán diversas técnicas de modelado a mano, pasando por distintas fases y procesos. Amasado, técnicas de pellizco, rollo, bloque, ahuecado, placas. 
        </p>
        <p>
          También ejecutaremos distintas técnicas decorativas para las piezas, esgrafiado, reserva de papel para luego aplicar óxidos y esmaltes, por chorreado e inmersión, para posteriormente ser llevadas a una segunda horneada y así terminar nuestras piezas.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="/assets/img/20151203_142529.jpg" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          En el valor de los talleres se incluye el uso de: taller, delantal, las herramientas, la pasta, los esmaltes y las quemas correspondientes. Tamaño máximo de pieza por alumno 2000 cm3 (como referencia es 20 X 10 X 10 cm). 
        </p>
        <p>
          Si el alumno quiere realizar una pieza mayor que este tamaño se cobrará un adicional de $ 7.000.- por bandeja de horno. 
        </p>
        <p>
          NO ofrecemos servicios de quema. *Debido al uso responsable y sustentable de nuestro horno, las quemas se realizan solo con el horno lleno, por lo que no podemos garantizar las fechas exactas de la quema de tu pieza.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button color="success" >Registrar Taller</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>