<ion-header>
  <ion-toolbar>
    <ion-title>Alfabetización</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/img/Alfabetizacion.jpg" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <h2>Taller de Alfabetización digital</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Este taller de alfabetización para personas mayores nace mediante una alianza formada entre la seremi de la cultura en conjunto con la municipalidad de Puente Alto. 
        </p>
        <br>
        <p>
          La finalidad de estos talleres es brindar apoyo digital y de nivelación a los adultos mayores de nuestra comuna y de los sectores rurales aledaños con el propósito de ir disminuyendo la brecha digital que existe a nivel tecnológico.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="/assets/img/taller_alfabetizacion_digital_arroyomolinos_de_leon-2100x1200.jpg" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          El proceso de ejecución del curso fue encabezada por el alcalde de la comuna y la Seremi de Cultura de Puente Alto, quienes felicitaron y alentaron a los participantes que estan actualmente en el curso a seguir ampliando sus conocimientos.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button color="success" >Registrar Taller</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
