<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Talleres Disponibles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: x-large;">Taller de Alfabetización digital</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="assets/img/talleres/news-1.jpg" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: larger;">Aprenderás a realizar trámites de manera virtual, usar su clave única, operar su correo electrónico y comunicarse a través de las distintas plataformas digitales en el Campus Santiago.</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button routerLink='/taller-adigital' expand="block" color="success" style="font-family: Arial, Helvetica, sans-serif;">Ver más</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>


    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center;">
            <ion-label style="font-size: x-large;">Taller de Cocina</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="assets/img/talleres/news-2.jpg" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: larger;">El Taller se realizará una vez al mes, dando la oportunidad a que cada usuario del Programa Vida Sana participe y aprenda nuevas formas de preparar los alimentos. Cada clase se enfocará en distintas recetas y preparaciones.</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button routerLink='/taller-cocina' expand="block" color="success" style="font-family: Arial, Helvetica, sans-serif;">Ver más</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>


    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center;">
            <ion-label style="font-size: x-large;">Taller de Yoga</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="assets/img/talleres/news-3.jpg" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: larger;">Clase gratuita de yoga de activación Pada Hasta (piernas y brazos) para personas mayores.

            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button routerLink='/taller-yoga' expand="block" color="success" style="font-family: Arial, Helvetica, sans-serif;">Ver más</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>


    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center;">
            <ion-label style="font-size: x-large;">Taller de Ceramica</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="assets/img/talleres/news-4.jpg" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: larger;">Este Taller está dirigido a todos quienes quieran conocer y descubrir el mundo de la cerámica. ¡No es necesario tener experiencia previa!

            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button routerLink='/taller-ceramica' expand="block" color="success" style="font-family: Arial, Helvetica, sans-serif;">Ver más</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>


    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center;">
            <ion-label style="font-size: x-large;">Taller de Pintura</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="assets/img/talleres/news-5.jpg" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: larger;">Los alumnos van descubriendo el arte de dibujar, se aprende a mirar, sentir, a investigar, a descubrir. Se va jugando con el color, la luz y el movimiento para expresar sensaciones y desarrollar su capacidad creadora a través de la pintura.</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button routerLink='/taller-pintura' expand="block" color="success" style="font-family: Arial, Helvetica, sans-serif;">Ver más</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
